/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
}

textarea {
  resize: vertical;
}

.card {
  margin: 20px;
  width: 50%;
  margin: auto;
}

@media (max-width: 1024px) {
  .card {
    margin: 20px;
    width: auto;
  }
}
